
.main {
    height: 100vh;
    background-color: rgba(27, 28, 33, 0.78) ;
    display: flex;
    justify-content: center;
}
.container {
    width: 80%;
    /*border: 1px solid;*/
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;

   }
.greeting {
    display: flex;
    flex-direction: column;
}


.greeting span:nth-child(2){
    text-align: end;
    font-stretch: normal;
    line-height: 1.2;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 5px;
    font-family: 'Montserrat', sans-serif;}


.photo { height: 300px;
width: 260px;
}