
.main {
    height: 100vh;
    background-color: rgba(27, 28, 33, 0.78);
    display: flex;
    justify-content: center;
}

.container {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.greeting {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.greeting span:nth-child(1) {
    font-size: 16px;
}

.greeting span:nth-child(2),
.greeting span:nth-child(2) span {
    font-weight: 700;
    font-stretch: normal;
    line-height: 1.2;
    font-size: 50px;
    letter-spacing: 5px;
    font-family: 'Raleway', sans-serif;
    position: relative
}


.greeting span:nth-child(2) span:before {
    content: "";
    position: absolute;
    width: 400px;
    height: 20px;
   background-color: #de3333;
    bottom: 0px;
    z-index: 0;

}

h1 {
    font-size: 27px;
    font-weight: 300;

}


.photo {
}
.photo:before {
    content: "";
    position: absolute;
    height: 500px;
    width: 300px;
    border: 5px solid red;
}
img {
    width: 250px
}
@media screen and (max-width:564px){
    .container {
        flex-wrap: wrap;
    }

}
