
.main {
    height: 100vh;
    background-color: rgba(27, 28, 33, 0.78);
    display: flex;
    justify-content: center;
    padding: 50px 0px;
}

.container {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.greeting {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.greeting span:nth-child(1) {
    font-size: 16px;
}

.greeting span:nth-child(2),
.greeting span:nth-child(2) span {
    font-weight: 700;
    font-stretch: normal;
    line-height: 1.2;
    font-size: 50px;
    letter-spacing: 5px;
    font-family: 'Raleway', sans-serif;
    position: relative;
    z-index: 1;
}


.greeting span:nth-child(2) span:before {
    content: "";
    position: absolute;
    right: -1px;
    width: 260px;
    height: 20px;
   background-color: #090808;
    bottom: 0px;
    z-index: -1;

}

h1 {
    font-size: 27px;
    font-weight: 300;

}


.photo img {width: 350px;
            margin-top: 60px;
            position: relative;
    z-index: 1;

    /*margin-left: 10px;*/
}
.photo:before {
    content: "";
    position: absolute;
    height: 360px;
    width: 350px;
    border: 7px solid #1d1b1b;

    bottom: -8px;
    z-index: 0;

}
/*img {*/
/*    width: 350px;*/
/*    margin-top: 60px;*/

/*}*/
@media screen and (max-width:564px){
    .container {
        flex-wrap: wrap;
    }

}
