.container {
    height: 100vh;
    background-color: #ffb8cf;
    display: flex;
    justify-content: center;
}

.skills{
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    text-align: center;

}

.skillBlock{
    display: flex;
    width: 80%;
    height: 80%;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    /*margin: -6px -6px;*/
}

.skill{
    border: 2px solid black;
    width: 200px;
    justify-content: center;
/*margin: 6px;*/
    }

