.container {
    height: 100vh;
    background-color: rgba(27, 28, 33, 0.75);
    display: flex;
    justify-content: center;
    padding: 50px 0
}
.line {
    height: 1px;
    width: 90px;
    margin: 5px 0;
    background-color: #735fff;
}
.blockTitle {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.skills{

    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    text-align: center;

}

.skillBlock{
    display: flex;
    width: 80%;
    height: 80%;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    /*margin: -6px -6px;*/
}

.skill{
    border: 2px solid black;
    width: 200px;
    justify-content: center;
/*margin: 6px;*/
    }

