
.header {
    display: flex;
    justify-content: center;
    height: 70px;
    background-color: whitesmoke;
    position:fixed;
    width: 100%;
}

.container {
    width: 80%;
    /*border: 1px solid;*/
    display: flex;
    justify-content: flex-end;
    align-items: center
}


@media screen and (max-width:564px)
{
    .container {
        width:100%}

}
