
/*.footer {*/
/*    height: 250px;*/
/*    background-color: #8dff78;*/
/*}*/
.container  {
    height: 250px;
    background-color: #92d4ff;
    display: flex;
    justify-content: center;
}
.footer{
    width: 80%;
    /*border: 1px solid;*/
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.footerNet{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

img{
    width: 50px;
    height: 50px;
}