
.header {
    display: flex;
    justify-content: center;
    height: 70px;
    background-color: #92d4ff;

}

.container {
    width: 80%;
    border: 1px solid;
    display: flex;
    justify-content: flex-end;
    align-items: center
}


