.mySkills {
    display: flex;
align-items: center;
justify-content: space-between}
.container {
    width: 300px;
    background-color: #ff2dc7;
    height: 300px;
    border: 1px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
}