
.skills {
    height: 100vh;
    background-color: #adff62;
    display:flex;
    justify-content: center;
}

.container {
    width: 80%;
    border: 1px solid;
    display: flex;
    justify-content: center;
 }

